@using SmartFinancesBlazorUI.Models;
@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<h3>Dashboard</h3>

<p>Account number: </p>

<p>Balance: </p>

<div>
    <a class="btn btn-success">Add funds</a>
</div>

@code {

}
