@page "/"

<PageTitle>SmartFinances</PageTitle>

<h1>Welcome to SmartFinances.</h1>

<p>
    <strong>SmartFinances</strong> is a banking app with built-in budget planner functionality.
    The purpose of this app is mainly to demonstrate my knowledge and skills in software developement.
</p>

<p>You can register your own user account or use one of the built-in ones:
    <ul>
        <li><strong>Username:</strong> ILikeRobots , <strong>Password:</strong> Password!23</li>
        <li><strong>Username:</strong> FirstRule , <strong>Password:</strong> Password!23</li>
        <li><strong>Username:</strong> Admin , <strong>Password:</strong> Password!23</li>
    </ul>

    The <strong>Admin</strong> account has a role of Administrator and different functionality than normal user accounts.
</p>

<p>I am actively working on this application. I will keep improving and adding new functionality. 
    Feel free to test and explore.
</p>