@page "/contacts/addcontact"
@inject NavigationManager NavigationManager
@inject IContactsService ContactService

<h1>Create Contact</h1>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@contact" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="Name">Name</label>
                <InputText id="Name" @bind-Value="contact.Name" class="form-control" />
                <ValidationMessage For="@(() => contact.Name)" />
            </div>

            <div class="form-group">
                <label for="AccountNumber">Account Number</label>
                <InputText id="AccountNumber" @bind-Value="contact.AccountNumber" class="form-control" />
                <ValidationMessage For="@(() => contact.AccountNumber)" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Add</button>
            </div>

        </EditForm>
    </div>
</div>

<div>
    <button class="btn btn-primary" @onclick="NavigateToContacts">Back to Contacts</button>
</div>

@code {
    private NewContactVM contact = new NewContactVM();

    private void NavigateToContacts()
    {
        NavigationManager.NavigateTo("/contacts/contacts");
    }

    private async Task HandleSubmit()
    {
        bool response = await ContactService.CreateContact(contact);
        if (response)
        {
            NavigateToContacts();
        }
    }
}

