@page "/transfers"
@attribute [Authorize(Roles = $"{Constants.USER} , {Constants.TESTUSER}")]
@inject ITransfersService _transfersService
@inject IAccountsService _accountsService
@inject NavigationManager _navigationManager


@if(Model.GroupedTransfers is null)
{
    <_LoadingData Message="Loading transfers..."></_LoadingData>
}
else
{
    <div class="container mt-4">
        <div class="row mb-5 justify-content-center">
            <div class="col-8">
                <_CurrentAccountCard CurrentAccount="@CurrentAccount" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <_TransferList 
                    GroupedTransfers="@Model.GroupedTransfers" 
                    CurrentPage="@Model.CurrentPage"
                    TotalPages="@Model.TotalPages"
                    OnPageChange="ReloadDataAsync">
                </_TransferList>
            </div>
        </div>
    </div>
}


@code {
    private TransactionalAccountVM CurrentAccount = new();
    private TransfersOverviewVM Model = new();
    bool isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        CurrentAccount = await _accountsService.GetCurrentAccountAsync();
        Model = await _transfersService.GenerateTransfersOverviewVM();
        isLoading = false;
    }

    private async Task ReloadDataAsync(int pageNumber)
    {
        Model = await _transfersService.GenerateTransfersOverviewVM(pageNumber);
    }

    private void NavigateToNewTransfer()
    {
        _navigationManager.NavigateTo("/transfers/newtransfer");
    }
}
