@page "/budgetplanner/regularexpenses"
@inject IBudgetPlannerService _budgetPlannerService

<div class="container mt-4">
    <div class="row mb-2 justify-content-center">
        <div class="col-10">
            <div class="card shadow">
                <div class="card-header">
                    <h2 class="text-center">Regular expenses</h2>
                </div>
                <div class="card-body">
                    <_RegularExpensesDataGrid RegularExpenses="Model.RegularExpenses"></_RegularExpensesDataGrid>
                </div>
            </div>
        </div>
    </div>
</div>

@code 
{
    private RegularExpensesVM Model = new();

    protected override async Task OnInitializedAsync()
    {
        Model.RegularExpenses = await _budgetPlannerService.GetRegularExpensesAsync();
    }
}
