@page "/budgetplanner/setbudget"
@inject IBudgetPlannerService BudgetPlannerService
@inject NavigationManager NavigationManager

<PageTitle>Set budget</PageTitle>

<h3>Set your monthly budget</h3>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="model" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="Budget" class="control-label"></label>
                <InputNumber for="Budget" @bind-Value="model.Budget" class="form-control" />
                <ValidationMessage For="@(() => model.Budget)" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </EditForm>
    </div>
</div>

<div>
    <button class="btn btn-primary" @onclick="NavigateToPlanner">Back to Planner</button>
</div>

@code {
    private SetBudgetVM model = new SetBudgetVM();

    private async Task HandleSubmit()
    {
        bool result = await BudgetPlannerService.SetBudgetAsync(model);
        if(result)
        {
            NavigateToPlanner();
        }
    }

    private void NavigateToPlanner()
    {
        NavigationManager.NavigateTo("/budgetplanner");
    }
}
