@page "/dashboard"
@inject NavigationManager NavigationManager
@inject IDashboardService DashboardService
@inject IDialogService DialogService

<PageTitle>Dashboard</PageTitle>

@if(Model.Accounts is null)
{
    <p>Loading data...</p>
}
else
{
    <div class="container mt-4">
        @foreach(var account in Model.Accounts)
        {
            <div class="row mb-2">
                <div class="col-8">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">@account.Type</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                @if (account.Number == Model.CurrentAccount.Number)
                                {
                                    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="AddFunds">Add funds</MudButton>
                                }  
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText>Number: @account.Number</MudText>
                            <MudText>Balance: @account.Balance</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            @if(account.Number == Model.CurrentAccount.Number)
                            {
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="true">Current Account</MudButton>
                            }
                            else
                            {
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ConfirmSetCurrentAccount(account.Number)">Set as current</MudButton>
                            }
                        </MudCardActions>
                    </MudCard>
                </div>
            </div>
        }
    </div>
}

@code {
    public DashboardVM Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model = await DashboardService.LoadDashboardVM();   
    }

    private async Task ConfirmSetCurrentAccount(string accountNumber)
    {
        var parameters = new DialogParameters<Dialog>();
        parameters.Add(x => x.ContentText, "Are you sure you want to change accounts?");
        parameters.Add(x => x.ButtonText, "Yes");
        parameters.Add(x => x.Color, Color.Primary);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small };

        var dialog = DialogService.Show<Dialog>("Change account", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await SetAsCurrent(accountNumber);
        }
    }

    private async Task SetAsCurrent(string accountNumber)
    {
        await DashboardService.ChangeAccountAsync(accountNumber);
        Model = await DashboardService.LoadDashboardVM();
    }

    private void AddFunds()
    {
        NavigationManager.NavigateTo("/dashboard/addfunds");
    }
}
