@page "/dashboard"
@inject NavigationManager NavigationManager
@inject IDashboardService DashboardService

<PageTitle>Dashboard</PageTitle>

<div class="container mt-2">
    <h3>Dashboard</h3>

    <div>Account number: @Model.CurrentAccount.Number</div>

    <div>Balance: @Model.CurrentAccount.Balance</div>

    <div>
        <button class="btn btn-success" @onclick="AddFunds">Add funds</button>
    </div>
</div>




@code {
    public DashboardVM Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model.CurrentAccount = await DashboardService.LoadCurrentAccountAsync();
    }

    private void AddFunds()
    {
        NavigationManager.NavigateTo("/dashboard/addfunds");
    }
}
