@page "/dashboard/requestaccount"
@inject NavigationManager NavigationManager
@inject IDashboardService DashboardService

<PageTitle>Request a New Account</PageTitle>

@if(Model.Accounts is null)
{
    <p>Loading....</p>
}
else
{
    <MudText Typo="Typo.h4" Class="mb-4">Request a new account</MudText>
    <MudGrid Class="mb-4">
        @foreach (var type in Model.AvailableAccountTypes)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6" Class="ml-2">@type.ToString()</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                    </MudCardContent>
                    <MudCardActions>
                        @if(CheckIfPending(type.ToString()))
                        {

                            <MudButton Variant="Variant.Filled" Color="Color.Warning" Disabled="true" >Pending</MudButton>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => RequestNewAccount(type.ToString()))">Request</MudButton>
                        }
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
        @if(Model.SavingsAccount == null)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6" Class="ml-2">Savings</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                        <MudCardContent>
                        </MudCardContent>
                    <MudCardActions>
                        @if (CheckIfPending(Constants.ACCOUNTTYPE_SAVINGS))
                        {

                            <MudButton Variant="Variant.Filled" Color="Color.Warning" Disabled="true">Pending</MudButton>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => RequestNewAccount(Constants.ACCOUNTTYPE_SAVINGS))">Request</MudButton>
                        }
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
    <MudItem>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToDashboard">Back</MudButton>
    </MudItem>
}




@code {
    private NewAccountVM Model = new();

    protected override async Task OnInitializedAsync()
    {
        Model.Accounts = await DashboardService.GetTransactionalAccountsAsync();
        Model.SavingsAccount = await DashboardService.GetSavingsAccountAsync();
        Model.AvailableAccountTypes = GetAvailableAccountTypes();
        Model.PendingAccountTypes = await DashboardService.GetUsersPendingAccountTypes();
    }

    private async Task RequestNewAccount(string accountType)
    {
        await DashboardService.RequestNewAccountAsync(accountType);
        NavigateToDashboard();
    }

    private List<AccountType> GetAvailableAccountTypes()
    {
        var availableAccountTypes = new List<AccountType>();

        var possesedAccountTypes = Model.Accounts.Select(q => q.Type);

        foreach (AccountType type in Enum.GetValues(typeof(AccountType)))
        {
            if(!possesedAccountTypes.Contains(type))
            {
                availableAccountTypes.Add(type);
            }
        }
        return availableAccountTypes;
    }

    private bool CheckIfPending(string accountType)
    {
        if(Model.PendingAccountTypes.Contains(accountType))
        {
            return true;
        }
        return false;
    }

    private void NavigateToDashboard()
    {
        NavigationManager.NavigateTo("/dashboard");
    }

}