@page "/dashboard/requestnewaccount"
@inject NavigationManager NavigationManager
@inject IDashboardService DashboardService

<PageTitle>Request a New Account</PageTitle>

@if(Model.Accounts is null)
{
    <p>Loading....</p>
}
else
{
    <MudText Typo="Typo.h4" Class="mb-4">Request a new account</MudText>
    <MudGrid Class="mb-4">
        @foreach (var type in Model.AvailableAccountTypes)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6" Class="ml-2">@type.ToString()</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                    </MudCardContent>
                    <MudCardActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => RequestTransactionalAccount(type.ToString()))">Request</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
        @if(Model.SavingsAccount == null)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6" Class="ml-2">Savings</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                        <MudCardContent>
                        </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="RequestSavingsAccount">Request</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
    <MudItem>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToDashboard">Back</MudButton>
    </MudItem>
}




@code {
    private NewAccountVM Model = new();

    protected override async Task OnInitializedAsync()
    {
        Model.Accounts = await DashboardService.GetAllAccountsAsync();
        Model.SavingsAccount = await DashboardService.GetSavingsAccountAsync();
        Model.AvailableAccountTypes = GetAvailableAccountTypes();
    }

    private async Task RequestTransactionalAccount(string type)
    {
        var response = await DashboardService.RequestNewTransactionalAccountAsync(type);
        if (response)
        {
            NavigateToDashboard();
        }
    }

    private async Task RequestSavingsAccount()
    {
        var response = await DashboardService.RequestNewSavingsAccountAsync();
        if (response)
        {
            NavigateToDashboard();
        }
    }

    private List<AccountType> GetAvailableAccountTypes()
    {
        var availableAccountTypes = new List<AccountType>();

        var possesedAccountTypes = Model.Accounts.Select(q => q.Type);

        foreach (AccountType type in Enum.GetValues(typeof(AccountType)))
        {
            if(!possesedAccountTypes.Contains(type))
            {
                availableAccountTypes.Add(type);
            }
        }
        return availableAccountTypes;
    }

    private void NavigateToDashboard()
    {
        NavigationManager.NavigateTo("/dashboard");
    }

}