@page "/authentication/login"
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService

<PageTitle>Login</PageTitle>

<h3>Login</h3>

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger">@Message</div>   
}

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@Model" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="UserName">User name</label>
                <InputText id="userName" @bind-Value="Model.UserName" class="form-control" />
                <ValidationMessage For="@(() => Model.UserName)" />
            </div>

            <div class="form-group">
                <label for="Password">Password</label>
                <InputText type="password" id="password" @bind-Value="Model.Password" class="form-control" />
                <ValidationMessage For="@(() => Model.Password)" />
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <InputCheckbox @bind-Value="Model.RememberMe" id="RememberMe" />
                    <label for="RememberMe">Remember me?</label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    public LoginVM Model { get; set; } = new LoginVM();
    public string Message { get; set; } = string.Empty;

    private async void HandleSubmit()
    {
        if (await AuthenticationService.LoginAsync(Model))
        {
            NavigationManager.NavigateTo("dashboard");
        }
        Message = "Username/password combination is unknown";
    }
}
