@using SmartFinancesBlazorUI.Handlers
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub"  aria-label="github"
                           Href="https://github.com/tomekaks">
            </MudIconButton>
            <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn"  aria-label="linkedin"
                           Href="https://www.linkedin.com/in/tomasz-cie%C5%9Blukowski-716486247/">
            </MudIconButton>
        </div>

        <article class="content px-4">
            <CustomErrorBoundary @ref="_errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="container mt-5">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <MudAlert Class="mb-3" Severity="Severity.Info" Elevation="3" Variant="Variant.Filled">
                                    Something went wrong. Please try again later.
                                </MudAlert>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RefreshPage">Refresh</MudButton>
                            </div>
                        </div>
                    </div>
                </ErrorContent>
            </CustomErrorBoundary>
        </article>
    </main>
</div>

@code {
    private ErrorBoundary _errorBoundary;

    private void RefreshPage()
    {
        _navigationManager.NavigateTo(_navigationManager.Uri, forceLoad: true);
    }
}
