@page "/admin/accountrequests"
@inject IAdminService AdminService

<PageTitle>Account requests</PageTitle>

@if(Model.Requests == null)
{
    <p>Loading data...</p>
}
else
{
    <div class="container mt-4">
        <div class="row mb-2">
            <div class="col-10">
                <MudDataGrid T="AccountRequestVM" Items="Model.Requests" ReadOnly="false" Bordered="true" >
@*                     <ToolBarContent>
                        <MudText Typo="Typo.h6">Regular expenses</MudText>
                        <MudSpacer />
                        <MudButton Variant="Variant.Filled" Color="Color.Success" EndIcon="@Icons.Material.Filled.AddCircle" OnClick="NavigateToAddRegularExpense">Add</MudButton>
                    </ToolBarContent> *@
                    <Columns>
                        <PropertyColumn Property="q => q.AccountType" Title="Account type"></PropertyColumn>
                        <PropertyColumn Property="q => q.Status"></PropertyColumn>
                        <PropertyColumn Property="q => q.DateRequested" Title="Date requested"></PropertyColumn>
                        <TemplateColumn>
                            <CellTemplate>
                                <MudButton Variant="Variant.Filled" Color="Color.Success" EndIcon="@Icons.Material.Filled.Send" OnClick="() => ApproveAccountRequest(context.Item.Id)">Approve</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" OnClick="() => RejectAccountRequest(context.Item.Id)">Reject</MudButton>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
            </div>
        </div>
@*         <div class="row mb-2">
            <div class="col-5">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToPlanner">Back to Planner</MudButton>
            </div>
        </div> *@
    </div>
}

@code {
    public AccountRequestsVM Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model.Requests = await AdminService.GetPendingAccountRequestsAsync();
    }

    private async Task ApproveAccountRequest(int accountRequestId)
    {
        await AdminService.ApproveAccountRequestAsync(accountRequestId);
    }

    private async Task RejectAccountRequest(int accountRequestId)
    {
        await AdminService.RejectAccountRequestAsync(accountRequestId);
    }
}
