@inject IBudgetPlannerService BudgetPlannerService

<div class="d-flex justify-content-center align-items-center p-2">
    <div class="me-3 fs-5 fw-bold">
        Your Budget Planner For:
    </div>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.NavigateBefore" Color=Color.Info OnClick="() => OnPreviousMonthClick.InvokeAsync()"></MudButton>

    <MudChip T="string" Label="true" Color="Color.Info">@CurrentMonthlySummary.Month/@CurrentMonthlySummary.Year</MudChip>

    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.NavigateNext" Color="Color.Info" OnClick="() => OnNextMonthClick.InvokeAsync()"></MudButton>
</div>




@code {
    [Parameter]
    public MonthlySummaryVM CurrentMonthlySummary { get; set; }

    [Parameter]
    public EventCallback OnPreviousMonthClick { get; set; }

    [Parameter]
    public EventCallback OnNextMonthClick { get; set; }
}
