@inject IBudgetPlannerService BudgetPlannerService

<div class="d-flex justify-content-center align-items-center p-2">
    <div class="me-3 fs-5 fw-bold">
        Your Budget Planner For:
    </div>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.NavigateBefore" Color=Color.Info OnClick="PreviousMonth"></MudButton>

    <MudChip T="string" Label="true" Color="Color.Info">@CurrentMonthlySummary.Month/@CurrentMonthlySummary.Year</MudChip>

    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.NavigateNext" Color="Color.Info" OnClick="NextMonth"></MudButton>
</div>




@code {
    [Parameter]
    public MonthlySummaryVM CurrentMonthlySummary { get; set; }

    [Parameter]
    public EventCallback OnMonthChange { get; set; }

    private void PreviousMonth()
    {
       BudgetPlannerService.MoveMonthBack();
    }

    private void NextMonth()
    {
        BudgetPlannerService.MoveMonthForward();
    }
}
